<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KUZEY.Properties.Settings.KUZEYConnectionString" connectionString="Data Source=192.168.1.2,4423;Initial Catalog=KUZEY;User ID=sa;Password=yhmns0188**" providerName="System.Data.SqlClient" /><add name="KUZEYEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.2,4423;initial catalog=KUZEY;user id=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>